{% extends 'base.jinja' %} 

{% block title %} Image Classification {% endblock %} 

{% block content %}
<h1 class="jumbotron bg-primary">Image Classfication</h1>

<form class="form-horizontal pt-3" action="/" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
    <div class="col-sm-10">
      <input type="file" class="form-control" name="predict_image">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>

</form>
{% if prediction %}
  <img src="{{ url_for('static', filename=fn) }}" height="400px" width="auto">
	<h2> Your Prediction: <i> {{prediction}} </i></h2>
  <h2> Confident:  {{accuracy}}</h2>
{% endif %}
{% endblock %}
